<html>
    <head>
      {% if title %}
      <title>{{ title }} - Chat</title>
      {% else %}
      <title>Welcome to Chat</title>
      {% endif %}
    </head>
    <body>
        <div>Chat:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/chat">Chat</a>
            <a href="/logout">Logout</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    <style>

    </style>
    </body>
</html>