{% extends "base.html" %}

{% block content %}
    <h1>Chat</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=2) }}
        </p>
        <p>{{ form.send() }}</p>
    </form>
<div class="vl"></div>
<style>
h1 {
    color: darkmagenta;
    font-family: cursive;
    font-size: 300%;
}
 .vl {
  border-left: 6px solid purple;
  height: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 35px;

}
</style>
{% endblock %}